<hr/>
<table>
  <caption> Date Record Revisions</caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>Target Name</th>
    <th>Changed Value</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @data_record_revisions.each do |data_record_revision| %>
    <tr>
      <td><%= data_record_revision.id %></td>
      <td><%= data_record_revision.data_record.name %></td>
      <td><%= data_record_revision.change %></td>
      <td><%= data_record_revision.status %></td>
      <td>
        <% if policy(data_record_revision.data_record).review? && data_record_revision.status == "pending" %>
          <%= button_to '通过', review_data_record_data_record_revision_path(data_record_revision.data_record, data_record_revision, status: 'approved'), method: :post, form: { style: 'display: inline-block' } %>
          <%= button_to '驳回', review_data_record_data_record_revision_path(data_record_revision.data_record, data_record_revision, status: 'rejected'), method: :post, form: { style: 'display: inline-block' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
