<%= form_with(model: [@data_record, @data_record_revision], local: true, method: "data_record_revisions#create") do |form| %>
  <% if @data_record_revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_record_revision.errors.count, "error") %> prohibited this data_record_revision from being
        saved:</h2>
      <ul>
        <% @data_record_revision.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :change, "修改估值" %>
    <%= form.text_field :change, class: "form-control" %>
  </div>

  <%= form.submit "提交修改", class: "btn btn-primary" %>
<% end %>
