<h2 class="text-2x" style="font-size: xx-large;font-weight: bold;margin: 100px auto 12px">登录</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { 'data-parsley-validate': '' }, class: 'container') do |f| %>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: "required", 'data-parsley-required-message': '请输入您的邮箱' %>
  </div>

  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, autocomplete: "current-password", required: "required", 'data-parsley-required-message': '请输入您的密码' %>
  </div>

  <div class="field" style="font-weight: normal;font-size: 14px">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>

  <div class="actions">
    <%= f.submit "登录" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
