<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>
<head>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.3/parsley.min.js' %>
</head>
<div class="container flex flex-col">
  <section class="flex justify-between" style="justify-content:space-between; align-content: center;padding: 10px 0;margin-bottom: 10px;font-size: 16px;font-weight: bolder">
    <% if user_signed_in? %>
      <div>
        欢迎您，<%= current_user.role %>！
      </div>
      <div class="inline-flex">
        <%= link_to '编辑资料', edit_user_registration_path, style: 'margin-right:4px' %>
        <%= button_to '注销', destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div>欢迎游客</div>
      <div class="flex-inline" style="align-self: flex-end">
        <%= link_to '注册', new_user_registration_path %>
        <%= link_to '登录', new_user_session_path %>
      </div>
    <% end %>
  </section>
  <%= render("shared/flash") %>
  <%= yield %>
</div>
<% parent_layout "base" %>
