<%# The "base" layout contains boilerplate common to *all* views. %>
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Blog <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->
  <%= capybara_lockstep if defined?(Capybara::Lockstep) %>
  <title>
    <%= "#{strip_tags(yield(:title))} – " if content_for?(:title) %>
    Blog
  </title>
  <%# Specifies the default name of home screen bookmark in iOS %>
  <meta name="apple-mobile-web-app-title" content="Blog">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/x-icon" href="https://www.sequoiacap.cn/wp-content/uploads/sites/9/2022/06/cropped-favicon.webp?w=192" sizes="192x192">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_javascript_tag "application", "data-turbo-track": "reload" %>
  <!--
    If using a TypeScript entrypoint file:
      vite_typescript_tag 'application'

    If using a .jsx or .tsx entrypoint, add the extension:
      vite_javascript_tag 'application.jsx'

    Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
  -->
  <%= yield(:head) %>
</head>
<body class="flex flex-col min-h-screen">
<main class="flex-1 mx-auto mt-8 px-4">
  <%= yield %>
</main>
<footer class="mx-auto bg-white py-4 flex">
  <div class=" mx-auto px-4 content-center">
    &copy; <%= Time.now.year %>  All rights reserved.
  </div>
</footer>
</body>
</html>
